@{
    Layout = null;
}
@using Newtonsoft.Json;
@model List<PNRModel.SFlightPassenger>

<style>
    table thead th {
        color: white;
    }
</style>

<div class="card shadow mb-4">
    <div class="card-body">
        <input type="text" class="global_filter" id="global_filter" />
        <input type="button" id="btn_filter" onclick="filterGlobal()" value="搜尋" />
        <input type="button" class="mb-2" id="btn_filter" onclick="filterGlobalClear()" value="清空" />
        <table id="SFlightPassenger_ListDt" class="display" style="width:100%">
                <thead>
                <tr style="background-color: #23A6F0;">
                        <th>航班日期</th>
                        <th>航班編號</th>
                        <th>證件編號</th>
                        <th>姓名</th>
                        <th>性別</th>
                        <th>出生年月日</th>
                        <th>國籍</th>
                        <th>座位表號碼</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.scheduleFlightTime</td>
                            <td>@item.flightNo</td>
                            <td>@item.passengerSeqNo</td>
                            <td><a href="javascript:void(0)" onclick="LoadView('@item.flightNo','@item.name','@item.seatNo','@item.scheduleFlightTime')">@item.name</a></td>
                            <td>@item.gender</td>
                            <td>@item.dateOfBirth</td>
                            <td>@item.nationality</td>
                            <td>@item.seatNo</td>
                        </tr>
                    }
                </tbody>
            </table>
    </div>
</div>


<script>

    function filterGlobal() {
        $('#SFlightPassenger_ListDt')
            .DataTable()
            .search($('#global_filter').val(), $('#global_regex').prop('checked'), $('#global_smart').prop('checked'))
            .draw();
    }
    function filterGlobalClear() {
        $('#SFlightPassenger_ListDt')
            .DataTable()
            .search($('#global_filter').val(''), $('#global_regex').prop('checked'), $('#global_smart').prop('checked'))
            .draw();
    }
    $(document).ready(function () {
        $('#SFlightPassenger_ListDt').DataTable({
            "searching": true,
            "paging": true,
            "info": false,
            "lengthChange": false,
            fixedHeader: {
                header: true,
                footer: true
            }
        });
    });

    var entityObject = @Html.Raw(JsonConvert.SerializeObject(Model));

    function LoadView(flightNo, name, seatNo, flightdate) {
        $('#SFlightPassenger').hide();
        $('#SFlightPassenger_List').hide();
        $('#SFlightPassenger_ListDt').hide();

        $.ajax({
            url: "/PNRAnalysis/SFlightPassenger_View",
            data: { flightno: flightNo, name: name, seatNo: seatNo, flightdate: flightdate },
            type: "post",
            success: function (html) {
                $('#SFlightPassengerView').html(html);
            }
        });
        $('#SFlightPassengerView').show();
    }
</script>